<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <img src="img/logo.jpg" alt="">
        <h3>Refugio Animal Alfa A.C.</h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- OPCIONES SIN INICIO DE SESION -->
                <li class="nav-item">
                    <a class="nav-link" href="index.php">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Adoptar.php">Adoptar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="adoptados.php">Adoptados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Productos.php">Productos</a>
                </li>

                <!-- OPCIONES CON INICIO DE SESION: USUARIO-->
                
                    <li class="nav-item">
                        <a class="nav-link" href="lista_solicitudes.php">Mis solicitudes</a>
                    </li>
                
                
                <!-- OPCIONES CON INICIO DE SESION: ADMIN-->
                
                    <li class="nav-item">
                        <a class="nav-link" href="lista_solicitudes.php">Solicitudes</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Agregar
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="formularios/f-adopcion.php">En adopción</a></li>
                            <li><a class="dropdown-item" href="formularios/f-adoptados.php">Adoptados</a></li>
                            <li><a class="dropdown-item" href="formularios/f-productos.php">Productos</a></li>
                            <li><a class="dropdown-item" href="formularios/f-avisos.php">Avisos</a></li>
                            <li><a class="dropdown-item" href="formularios/f-servicios.php">Servicios</a></li>
                            <li><a class="dropdown-item" href="Lista_EnAdopcion.php">Lista adopción</a></li>
                            <li><a class="dropdown-item" href="Lista_Usuarios.php">Lista usuarios</a></li>
                        </ul>
                    </li>
                
            </ul>
            <div class="ms-auto d-flex align-items-center gap-2">
                
                    <form action="logout.php" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Logout</button>
                    </form>
                        
                        <a href="{% url 'login' %}" class="btn btn-light">Login</a>
                        <a href="registro.php" class="btn btn-outline-light">Registrarse</a>
                    
                
            </div>
        </div>
    </div>
</nav>